#root {
  text-align: center;
  max-height: 100vh;
}

header {
  top: 0;
  width: 100vw;
  max-height: 10vh;
}

body {
  background: url('./assets/bkgnd_horizontal.png') no-repeat;
  background-size: cover;
  background-position: center top;
}

.digital {
  font-family: 'DS-Digital', sans-serif;
  text-align: center;
}

.btn-primary {
  background-color: gray !important;
  border-color: black !important;
}